@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/bg-grid.png'),
    linear-gradient(to bottom, rgba(13, 15, 20, 0.95), rgba(13, 15, 20, 1));
  background-repeat: repeat;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar-border {
  border-right: 4px solid transparent;
  transition: border-color 0.3s ease; 
}

.navbar-border:hover {
  border-image: linear-gradient(to bottom, #a845ef, #5145fb, #4345fd);
  border-image-slice: 1; 
}

.button-style {
  background: linear-gradient(to right, #a845ef, #5145fb, #4345fd);
  width: 100%;
}

.button-style:hover {
  background: linear-gradient(to right, #AD4EF0, #5E53F6, #5355FD);
}

.button-gradient {
  background: linear-gradient(to right, #a845ef, #5145fb, #4345fd);
}

.button-gradient:hover {
  background: linear-gradient(to right, #AD4EF0, #5E53F6, #5355FD);
}

.password-gen-container {
  background-color: #23262d;
  padding: 40px;
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #a845ef, #5145fb, #4345fd); 
  border-image-slice: 1; 
}

.card-style {
  color: white;
  background-color: #23262d;
  padding: 10px;
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #a845ef, #5145fb, #4345fd); 
  border-image-slice: 1; 
}

.f-card-style {
  color: white;
  background-color: #23262d;
  padding: 10px;
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #a845ef, #5145fb, #4345fd); 
  border-image-slice: 1;
  opacity: 0.5;
  transform: scale(0.7); 
  transition: transform 0.3s ease; 
}

.f-active-card-style {
  color: white;
  background-color: #23262d;
  padding: 10px;
  border: 1px solid transparent; 
  border-image: linear-gradient(to right, #a845ef, #5145fb, #4345fd); 
  border-image-slice: 1;
  transform: scale(1.1); 
  transition: transform 0.3s ease; 
}

@media (max-width: 480px) {
  .f-active-card-style {
   transform: scale(0.9); 
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .modal-overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 999;
  }
}

.modal {
  color: white;
  background-color: #23262d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 700px;
}

@media (max-width: 480px) {
  .modal {
    font-size: 14px;
    max-width: 500px;    
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
}

.close:hover {
  color: red;
}

.learn-more-button {
  text-decoration: underline;
}

.learn-more-button:hover {
  color: #5FE1B2;
}